@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Merienda, cursive;
    font-weight: 300;
    color: #2F4F4F;
}

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #696969;
}

#logo {
    float: right;
    font-size: 280%;
}