@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: dimgray;
}
#container {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

/* background header image */

/* name and logo image */

.logo {
    float: right;
    font-size: 250%;
    margin-right: 50px;
    font-family: Merienda, cursive;
    letter-spacing: 4px;
    color: white;
}
.logo:hover {
    color:limegreen;
}
.header img {
    float: right;
    width: 80px;
    height: 80px;
    margin-top: 10px;
  }
.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }
  h2 {
      text-align: center;
      font-family: Merienda, cursive;
      padding: 10px;
  }
  /* navigation menu bar */

.menu {
    width: 100%;
    height: 100px;
  }
.menu ul {
    margin-left: 50px;

}
.menu li {
    list-style: none;
    display: inline-block;
    line-height: 80px;
}
.menu a{
    text-decoration: none;
    font-size: 25px;
    padding: 0 20px;
    color: #fff;
}
.menu a:hover {
    color:orangered;
}
/* cliffs of moher image */

#cliffs {
    clear: both;
    width: 100%;
    height: 400px;
}
#cliffs-image {
    background-image: url('../images/cliffs-of-moher.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* Section with 3 images */

#image1 {
    float: left;
    width: 500px;
    height: 500px;
    background-color: brown;

}
#image2 {
    float: left;
    width: 500px;
    height: 500px;
    background-color: chartreuse;

}
#image3 {
    float: left;
    width: 500px;
    min-height: 500px;
    background-color: blue;

}

/* photo section */

#photo1 {
    float: left;
    width: 375px;
    height: 100px;
    background-color: cornflowerblue;
}
#photo2 {
    float: left;
    width: 375px;
    height: 100px;
    background-color: crimson;
}
#photo3 {
    float: left;
    width: 375px;
    height: 100px;
    background-color: darkgoldenrod;
}
#photo4 {
    float: left;
    width: 375px;
    height: 100px;
    background-color: darkgreen;
}
#photo5 {
    float: left;
    width: 375px;
    height: 100px;
    background-color: darksalmon;
}
#photo6 {
    float: left;
    width: 375px;
    height: 100px;
    background-color: darkslateblue;
}
#photo7 {
    float: left;
    width: 375px;
    height: 100px;
    background-color: deeppink;
}
#photo8 {
    float: left;
    width: 375px;
    height: 100px;
    background-color: deepskyblue;
}

/* footer */

#footer {
    clear: both;
    background-color: cyan;
}